@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce { 
  0% { transform: translateY(-2rem); }
  50%, 100% { transform: translateY(0); }
  75% { transform: translateY(-1rem); }
}
 
.icon-pulse {
  animation: pulse 0.5s ease forwards;
}
  
.expanded-view {
  animation: fadeIn 0.3s ease;
  /* color: #327f92, */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.icon-inactive {
  transition: color 0.3s ease; 
}

.animated-divider {
  position: relative;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, black, transparent);
  margin: 8px auto;
  transform: scaleX(0);
  transform-origin: center;
  animation: growDivider 1s ease-out forwards;
}

@keyframes growDivider {
  0% {
      transform: scaleX(0);
  }
  100% {
      transform: scaleX(1);
  }
}

/* Optional: Add an ornament in the middle */
.fancy-divider::after {
  content: "✦";  /* Fancy Star Symbol */
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: black;
}

@media (min-width: 0px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 2160px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 3160px) {
  html {
    font-size: 30px;
  }
}



@font-face {
  font-family: 'logo-font';
  src: url(./logo-font.ttf) format("truetype");
  size-adjust: 140%;
}

@font-face {
  font-family: 'body-font';
  src: url(./body-font.ttf) format("truetype");
  size-adjust: 100%;
}

main {
  background-color: #F1EFE2;
  min-height: 100vh;
}

#vara-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#vara-svg {
  width: 100%;
}
